.Homebody {
  flex: 0.8;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  transition: background .4s ease-in;
  background-color: rgb(14, 14, 14);
  color: white;
  border-top-right-radius: 12px;
}

.HomebodyInfo {
  display: flex;
  justify-content: center;
  height: 13rem;
}

.Homehr {
  color: #dfdfdf;
  height: 1px;
  border: none;
  background-color: #2b2a2a;
  margin-bottom: 22px;
}

.Hcard {
  position: absolute;
  width: 52%;
  height: 14rem;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.Hradios {
  display: none;
}

.Homecontainer {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Hcards {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.HomeSongImg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .Hcards #song-3,
#item-2:checked ~ .Hcards #song-1,
#item-3:checked ~ .Hcards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
  box-shadow: 0 0 38px whitesmoke;
}

#item-1:checked ~ .Hcards #song-2,
#item-2:checked ~ .Hcards #song-3,
#item-3:checked ~ .Hcards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
  box-shadow: 0 0 38px whitesmoke;
}

#item-1:checked ~ .Hcards #song-1,
#item-2:checked ~ .Hcards #song-2,
#item-3:checked ~ .Hcards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.Halbumtitles {
  margin-left: 24px;
  line-height: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 26px;
}
.seeAll{
  margin-right: 35px;
  
}

.SeeAllp{
  color: #24ab74;
  font-size: 18px;
}

.Hfeatures{
  display: flex;
  flex-direction: column;
}

.Halbumtitles > p {
  color: grey;
  font-size: 12px;
}

.Halbum {
  height: 81px;
  border-radius: 13px;
  width: 87px;
  object-fit: contain;
}

.HalbumList {
  display: flex;
  flex-direction: row;
  margin: 2rem;
}

.HsongName {
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 16px;
}

.Hartist {
  font-size: 13px;
  color: grey;
}

/* Responsive styles for tablets and larger screens */
@media screen and (max-width: 1024px) {
  .HomebodyInfo {
    height: auto;
    padding: 1rem;
    flex-wrap: wrap;
    align-items: center;
  }

  .Hcard {
    width: 90%;
  }

 
}

/* Responsive styles for mobile devices */
@media screen and (max-width: 480px) {
  .HomebodyInfo {
    height: auto;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }




  .HsongName {
    font-size: 14px;
  }

  .Hartist {
    font-size: 13px;
  }
}

.wholeCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 31px;
}


.Bcard {
  position: relative;
  width: 158px;
  height: 196px;
  margin: 0 auto;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.Bcard .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bcard .face.face1 {
  box-sizing: border-box;
  padding: 20px;
}

.Bcard .face.face1 h2 {
  margin: 0;
  padding: 0;
}
.bimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.Bcard .face.face1 .java {
  background-color: #fffc00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Bcard .face.face1 .python {
  background-color: #00fffc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Bcard .face.face1 .cSharp {
  background-color: #fc00ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Bcard .face.face2 {
  transition: 0.5s;
}

.Bcard .face.face2 h2 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.Bcard:hover .face.face2 {
  height: 20px;
}

.Bcard:hover .face.face2 h2 {
  font-size: 2em;
}

.Hcontents{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}