.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    position: absolute;
    left: 22rem;
    top: 0;
    width: 77%;
    margin-top: 13px;
}

.headerLeft{
    flex: 0.5;
    min-width: 70px;
    background-color: white;
    margin: 12px;
    color: grey;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}


.searchmusix{
    border: none;
    width: 25rem;
}

.headerRight{    
    margin-block:18px;
    margin-right: 3rem;
    display: flex;
    align-items: center;
}

.myname{
    margin-right: 18px;
    margin-left: 10px;
}