.header{
  display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    position: absolute;
    left: 18rem;
    top: 0;
    width: 80vw;
    margin-top: 13px;
}


.headerLeft{
    flex: 0.5;
    min-width: 70px;
    background-color: white;
    margin: 12px;
    color: grey;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}


.searchmusix{
    border: none;
    width: 25rem;
}

.headerRight{    
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  height: 24px;
  width: 67%;
  margin-top: 11px;
}

.myname{
    margin-right: 18px;
    margin-left: 10px;
}

.link{
    text-decoration: none;
}

.Options{
    padding: 8px;
    border:none;
}

.customDropdown{
    padding-inline: 11px;
    border-radius: 11px;
    border: 1px solid;
    background-color: #f2f2f2;
}

.searchFocused {
  border: none;
  outline: none;
  box-shadow: none;
}
.searchmusix {
  border: none;
  outline: none;
  box-shadow: none;
}

.Options {
    width: 152px;
    height: 40px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    color: #333;
  }
  
  .optionuser {
    font-size: 16px;
    background-color: #fff;
    color: #333;
  }
  
  .optionuser:hover {
    background-color: #24ab74;
  }
  
  .optionuser:focus {
    background-color: #24ab74;
    outline: none;
  }
  