.sidebarOptions {
    color: grey;
    display: flex;
    flex-direction: row;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
  }
  
  .house {
    margin-top: 1rem;
  }
  
  .layer {
    margin-top: 2.2rem;
  }
  
  .heart {
    margin-top: 2rem;
  }
  
  .user {
    margin-top: 19px;
  }
  
  .sidebarIcons {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .sidebarTitle {
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (max-width: 768px) {
    /* Styles for screens with a maximum width of 768px */
    .sidebar {
      flex: 0.3;
      min-width: 150px;
    }
    
    .sidebarLogo {
      height: 50px;
    }
    
    .sidebarOptions {
      height: 30px;
    }
    
    .house {
      margin-top: 0.8rem;
    }
    
    .layer {
      margin-top: 1.8rem;
    }
    
    .heart {
      margin-top: 1.8rem;
    }
    
    .user {
      margin-top: 16px;
    }
  }
  