.sidebar {
    height: 100vh;
    flex: 0.2;
    color: aliceblue;
    background-color: rgb(25, 25, 25);
    min-width: 230px;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 12px;
  }
  
  .sidebarLogo {
    height: 70px;
    object-fit: contain;
  }
  
  @media screen and (max-width: 768px) {
    /* Styles for screens with a maximum width of 768px */
    .sidebar {
      flex: 0.3;
      min-width: 150px;
    }
  
    .sidebarLogo {
      height: 50px;
    }
  }
  
  @media screen and (max-width: 480px) {
    /* Styles for screens with a maximum width of 480px */
    .sidebar {
      flex: 0.4;
      min-width: 100px;
      height: 58rem;
    }
    
    .sidebarLogo {
      height: 40px;
    }
  }
  