.UHomebody {
    flex: 1;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    transition: background .4s ease-in;
    background-color: rgb(14, 14, 14);
    color: white;
    border-top-right-radius: 12px;
    height: 100vh;
  }

  .UHomebodyInfoUser {
    display: flex;
    justify-content: center;
    height: 20rem;
    margin-top: 6rem;
  }
.UserImage{
    height: 13rem;
    width: 15rem;
    position: relative;
}

.Avatar{
    width: 97%;
    height: 87%;
    object-fit: cover;
    z-index: 0;
    border-radius: 59px;
}

.AvatarName{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 17px;
}
.editDetails{
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    color: white;
}
.detailsavartar{
    border: 1px solid grey;
    padding-block: 13px;
    padding-inline: 27px;
    /* padding: 17px; */
    border-radius: 19px;
    text-decoration: none;
}
.EditForm{
    display: flex;
    flex-direction: column;
}
.UserFormfields{
    margin-bottom: 27px;
}
.Userfieldsinput{
    border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1.125rem;
    color: white;
	padding: .25rem 0;
}

.Userfieldsinput:focus, .Userfieldsinput:valid {
    outline: 0;
    border-bottom-color:white;
  }

  .userSubmit{
    background-color: #24ab74;
    padding-inline: 28px;
    padding-block: 12px;
    border-radius: 15px;
    margin-right: 19px;
  }

  .userBack{
    background-color: #eee;
    color: black;
    padding-inline: 28px;
    padding-block: 12px;
    border-radius: 15px;
  }

  .Userfieldsinput:focus .UserfieldsLabel, .Userfieldsinput:valid+.UserfieldsLabel {
    color: #6658d3;
    transform: translateY(-1.5rem);
  }

  .Usercard1 {
    overflow-y: scroll;
    position: relative;
    /* z-index: 1; */
    top: -24px;
    margin-inline: 2rem;
    height: 205px;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    padding: 25px;
    border: 1px solid rgb(0 0 0 / 25%);
    border-radius: 20px;
    background-color: rgb(101 90 90 / 45%);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
  }
  .CardSong{
    
    height: 60px;
    /* margin-right: 2rem; */
    margin-bottom: 1.5rem;
    /* padding: 25px; */
    border: 1px solid rgb(0 0 0 / 25%);
    border-radius: 20px;
    background-color: rgb(101 90 90 / 45%);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
  }

.UserRated{
  margin-left: 38px;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.songRating{
  padding: 18px;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.UserRatings{
  display: flex;
  margin-bottom: 16px;
}

.UserRatings > button {
  color: #000000;
  background: none;
  border:none;
  cursor: pointer;
  outline: none;
  padding: 0;
}
.UserRatings> button.active {
  color: #24AB74;
}

.userSong{
  color: #d6d6d6;
}